<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Mots de passe oublié?{% endblock %}
<!-- Container -->
<div id="container">

    
  
{% block content %}
<div id="content" class="colM">
  <h1>Mots de passe oublié?</h1>
  <p>Entrer votre adresse email, et vous allez recevoir les instructions pour en configurer un nouveau.</p>

  <form method="POST">
    {{ form.as_p }}
    <input type="submit" value="M'envoyer les instructions!">
  </form>
  <br class="clear">
{% endblock %}
</div>
</div>