<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}Entrez le nouveau mots de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Definir un nouveau mots de passe!</h1>
<form method="POST">
  {% csrf_token %}
  
  <p><label for="id_new_password1">Nouveau mot de passe:</label> <input type="password" name="new_password1" required="" id="id_new_password1"> <span class="helptext"></span></p>
  <ul><li>Votre mot de passe ne doit pas être trop similaire à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au moins 8 caractères.</li><li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li><li>Votre mot de passe ne peut pas être entièrement numérique.</li></ul>
  <p></p>
  <p><label for="id_new_password2">Confirmation du nouveau mot de passe:</label> <input type="password" name="new_password2" required="" id="id_new_password2"></p>
  <input type="submit" value="Changer mon mots de passe">
</form>

{% else %}

<p>{% trans "Le lien pour changer le mots de passe était invalid, peut être qu'il est déjà utilisé.  S'il vous plait demander un nouveau lien de réinitialisation." %}</p>

{% endif %}
{% endblock %}