<p>&nbsp;</p>
<table
  class="em-tm-container"
  style="font-family: Arial, Helvetica, sans-serif"
  width="100%"
  cellspacing="0"
  cellpadding="0"
>
  <tbody>
    <tr>
      <td align="center">
        <table
          class="em-tm-container"
          style="font-family: Arial, Helvetica, sans-serif"
          width="600"
          cellspacing="0"
          cellpadding="0"
        >
          <tbody>
            <tr
              style="
                background: linear-gradient(
                  to right,
                  #f39200 20%,
                  #1f497d 100%
                );
                background-color: #1f497d;
              "
            >
              <td style="padding-top: 50px">
                <table
                  class="em-tm-wrap"
                  width="600"
                  cellspacing="0"
                  cellpadding="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td>
                        <table
                          width="549"
                          cellspacing="0"
                          cellpadding="0"
                          align="center"
                        >
                          <tbody>
                            <tr style="background-color: #fff">
                              <td style="padding: 30px 30px 0">
                                <table
                                  style="text-align: left"
                                  border="0"
                                  width="100%"
                                  cellspacing="0"
                                  cellpadding="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table
                                          style="
                                            width: 100%;
                                            text-align: center;
                                          "
                                          border="0"
                                          cellspacing="0"
                                          cellpadding="0"
                                        >
                                          <tbody>
                                            <tr>
                                              <td>
                                                <table
                                                  border="0"
                                                  width="100%"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="
                                                          text-align: right;
                                                          padding: 0px 0px 0px
                                                            0px;
                                                        "
                                                      >
                                                        <a
                                                          href="#"
                                                          target="_blank"
                                                          rel="noopener"
                                                          ><span
                                                            style="
                                                              color: #000000;
                                                            "
                                                          >
                                                          </span
                                                        ></a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <table
                                                  class="
                                                    em-tm-header-btn-wrapper
                                                  "
                                                  border="0"
                                                  width="100%"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                  align="center"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td align="center">
                                                        <h2
                                                          style="
                                                            font-weight: 900;
                                                            color: #1f497d;
                                                            font-size: 25px;
                                                          "
                                                        >
                                                          <span
                                                            style="
                                                              color: #000000;
                                                            "
                                                            ><span
                                                              style="
                                                                font-size: 14px;
                                                                font-weight: 400;
                                                              "
                                                              >SOUMISSION
                                                              COMMANDE RAPPORT
                                                            </span></span
                                                          >
                                                        </h2>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <table
                                                  class="
                                                    em-tm-header-btn-wrapper
                                                  "
                                                  border="0"
                                                  width="100%"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                  align="left"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 0px 0px 10px
                                                            0px;
                                                        "
                                                        align="left"
                                                      >
                                                        <p
                                                          style="
                                                            font-size: 20px;
                                                            font-weight: 600;
                                                          "
                                                        >
                                                          <span
                                                            style="
                                                              font-size: 14px;
                                                              font-weight: 400;
                                                            "
                                                            >Bonjour</span
                                                          >
                                                        </p>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <!--     </table>
                                                      </td>
                                                  </tr> -->
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table
          class="em-tm-container"
          style="font-family: Arial, Helvetica, sans-serif"
          width="600"
          cellspacing="0"
          cellpadding="0"
        >
          <tbody>
            <tr style="background-color: #f6f8f8">
              <td style="padding-top: 0px">
                <table
                  class="em-tm-wrap"
                  width="600"
                  cellspacing="0"
                  cellpadding="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td>
                        <table
                          style="
                            border-left: 3px solid #edf1f5;
                            border-right: 3px solid #edf1f5;
                            border-bottom: 3px solid #edf1f5;
                            border-top: 0px;
                          "
                          width="557"
                          cellspacing="0"
                          cellpadding="0"
                          align="center"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  style="
                                    border-left: 1px solid #dde1e6;
                                    border-right: 1px solid #dde1e6;
                                    border-top: 0px;
                                    border-bottom: 1px solid #dde1e6;
                                  "
                                  width="100%"
                                  cellspacing="0"
                                  cellpadding="0"
                                >
                                  <tbody>
                                    <tr style="background-color: #fff">
                                      <td>
                                        <table
                                          style="text-align: left"
                                          border="0"
                                          width="100%"
                                          cellspacing="0"
                                          cellpadding="0"
                                        >
                                          <tbody>
                                            <tr>
                                              <td>
                                                <table
                                                  style="
                                                    width: 100%;
                                                    text-align: center;
                                                  "
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <table
                                                          border="0"
                                                          width="100%"
                                                          cellspacing="0"
                                                          cellpadding="0"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 0px
                                                                    30px 0px
                                                                    30px;
                                                                "
                                                                align="left"
                                                              >
                                                                <!-- <p style="margin: 0px 0px;font-size:16px;color:#333;">A New Candidate <span style="font-weight:600;">  Ajax Zander </span> is shortlisted by <span style="font-weight:600;">Irving, TX.</span> Please click on the following link to keep a tab on the progress. Thanks alot for applying to us.</p> -->
                                                                <div
                                                                  style="
                                                                    font-size: 18px;
                                                                    margin-bottom: 15px;
                                                                    text-align: justify;
                                                                    line-height: 25px;
                                                                  "
                                                                >
                                                                  <p>
                                                                    <span
                                                                      style="
                                                                        font-size: 14px;
                                                                      "
                                                                      >Nous vous
                                                                      informons
                                                                      qu’une
                                                                      demande de
                                                                      rapport
                                                                      vient
                                                                      d'être
                                                                      effectu&eacute;e
                                                                      sur
                                                                      l’incident
                                                                      {{details}}.
                                                                      Veuillez
                                                                      vous
                                                                      connecter
                                                                      pour
                                                                      suivre et
                                                                      g&eacute;rer
                                                                      cette
                                                                      demande.
                                                                    </span>
                                                                  </p>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td>
                                                                <table
                                                                  width="100%"
                                                                  cellspacing="0"
                                                                  cellpadding="0"
                                                                  align="center"
                                                                >
                                                                  <tbody>
                                                                    <tr>
                                                                      <td
                                                                        style="
                                                                          padding: 20px
                                                                            0px
                                                                            20px
                                                                            0px;
                                                                          margin-top: 13px;
                                                                        "
                                                                        align="center"
                                                                      >
                                                                        <a
                                                                          style="
                                                                            border: 1px
                                                                              solid
                                                                              #f39200;
                                                                            padding: 20px;
                                                                            background: #f39200;
                                                                            font-size: 23px;
                                                                            border-radius: 63px !important;
                                                                            text-decoration: none;
                                                                            color: #fff;
                                                                            font-weight: 600;
                                                                            width: 50%;
                                                                            display: block;
                                                                          "
                                                                          href="https://dashboard.map-action.com/"
                                                                          target="_blank"
                                                                          rel="noopener"
                                                                          ><span
                                                                            style="
                                                                              color: #000000;
                                                                            "
                                                                            ><span
                                                                              style="
                                                                                font-size: 14px;
                                                                                font-weight: 400;
                                                                              "
                                                                            >
                                                                              Connectez-vous
                                                                            </span></span
                                                                          ></a
                                                                        >
                                                                      </td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td
                                                                        style="
                                                                          padding: 0px
                                                                            30px
                                                                            0px
                                                                            30px;
                                                                        "
                                                                        align="left"
                                                                      >
                                                                        <div
                                                                          style="
                                                                            font-size: 18px;
                                                                            margin-bottom: 15px;
                                                                            text-align: justify;
                                                                            line-height: 25px;
                                                                          "
                                                                        >
                                                                          <p>
                                                                            Nous
                                                                            vous
                                                                            souhaitons
                                                                            une
                                                                            belle
                                                                            expérience
                                                                            sur
                                                                            Map
                                                                            Action!
                                                                          </p>
                                                                        </div>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 10px
                                                                    30px 0px
                                                                    30px;
                                                                "
                                                              >
                                                                <table
                                                                  width="100%"
                                                                  cellspacing="0"
                                                                  cellpadding="0"
                                                                  align="left"
                                                                >
                                                                  <tbody>
                                                                    <tr>
                                                                      <td
                                                                        style="
                                                                          text-align: left;
                                                                          font-size: 18px;
                                                                          color: #333;
                                                                        "
                                                                      >
                                                                        <span
                                                                          style="
                                                                            display: block;
                                                                            margin-bottom: 5px;
                                                                            font-size: 18px;
                                                                            font-weight: 900;
                                                                          "
                                                                          ><span
                                                                            style="
                                                                              color: #000000;
                                                                            "
                                                                            ><span
                                                                              style="
                                                                                font-size: 14px;
                                                                                font-weight: 400;
                                                                              "
                                                                              >Cordialement!</span
                                                                            ></span
                                                                          ></span
                                                                        >
                                                                        <span
                                                                          style="
                                                                            display: block;
                                                                            margin-bottom: 20px;
                                                                            font-weight: 600;
                                                                          "
                                                                          ><span
                                                                            style="
                                                                              color: #000000;
                                                                            "
                                                                            ><span
                                                                              style="
                                                                                font-size: 14px;
                                                                                font-weight: 400;
                                                                              "
                                                                              >Team
                                                                              MapAction
                                                                            </span></span
                                                                          ></span
                                                                        >
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  background-color: #e1e1e1;
                                                                "
                                                              >
                                                                <table
                                                                  style="
                                                                    font-family: Helvetica,
                                                                      Arial,
                                                                      sans-serif;
                                                                  "
                                                                  border="0"
                                                                  width="100%"
                                                                  cellspacing="0"
                                                                  cellpadding="0"
                                                                >
                                                                  <tbody>
                                                                    <tr>
                                                                      <td
                                                                        style="
                                                                          text-align: left;
                                                                          font-size: 10px;
                                                                          padding: 18px
                                                                            15px
                                                                            18px
                                                                            30px;
                                                                          color: #525252;
                                                                        "
                                                                      >
                                                                        <p
                                                                          style="
                                                                            margin: 0px;
                                                                            font-size: 15px;
                                                                          "
                                                                        >
                                                                          &nbsp;
                                                                        </p>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
